h1 {
  color: #ff365e;
}

h2 {
  color: #6c2fd6;
}

p {
  width: 500px;
}

ul.cubeDot {
  list-style-type: square;
}

ol.romanNumber {
  list-style-type: upper-roman;
  text-decoration: underline;
}

li.romanNumber-1, li.romanNumber-2, li.romanNumber-3 {
  color: #e612c6;
  text-decoration: underline;
}